body {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;

    padding: 32px 128px;

    font-family: 'Roboto', sans-serif;
    color: white;

    background-color: #1F2937;
}

.header .logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.header .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header .links a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: center;
    gap: 64px;

    padding: 64px 128px;
    padding-bottom: 128px;

    font-family: 'Roboto', sans-serif;
    color: white;

    background-color: #1F2937;
}

.intro .text{
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
}

.intro .image img {
    height: 300px;
}

.text .tagline{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.text .subtext{
    font-size: 18px;
    text-align: justify;
}

.text button {
    padding: 8px 24px;

    background-color: #3882f6;
    color: #f9faf8;

    font-size: 16px;
    font-weight: 700;

    border: none;
    border-radius: 12px;

    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

.tabs {
    display: flex;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: green;
}

.quote .speaker {
    display: flex;
    justify-content: flex-end;
}

.sign-up {
    background-color: lightblue;
}

.window {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}