body {
    margin: 0px;
    padding: 0px;

    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 32px 128px;

    color: white;

    background-color: #1F2937;
}

.header .logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.header .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.header .links a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 128px;

    padding: 64px 128px;
    padding-bottom: 128px;

    color: white;

    background-color: #1F2937;
}

.intro .text{
    flex: 1;

    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
}

.intro .image {
    flex: 1;
    min-width: 350px;
}

.intro .image img {
    max-width: 100%;
}

.intro .text .tagline{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.intro .text .subtext{
    font-size: 18px;
    text-align: justify;
}

.intro .text button {
    padding: 8px 24px;

    background-color: #3882f6;
    color: #f9faf8;

    font-size: 16px;
    font-weight: 700;

    border: none;
    border-radius: 12px;

    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 64px;

    padding: 64px 128px;
}

.info .title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;

    display: flex;
    justify-content: center;
}

.info .tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.info .tab {
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    text-align: center;
}

.info .tabs .tab img{
    max-width: 100%;
    height: auto;

    border: 3px solid #3882f6;
    border-radius: 12px;
}

.info .tabs .tab .text{
    font-size: 18px;
    color: #1f2937;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: green;
}

.quote .speaker {
    display: flex;
    justify-content: flex-end;
}

.sign-up {
    background-color: lightblue;
}

.window {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}